extends ../templates/template.pug

block main
    .main-container
        .container-title
            h1.container-title__title Todo List - V0.1
        .container-form
            form.container-form__form#container-form__form
                input(type="text" name="input_item" minlength="1" maxlength="60" required autocomplete="off" placeholder="type a task").container-form__form__input-item#input-item

                .container-form__form__div-colores#div-colores
                    .container-form__form__div-colores__html-div1.div1
                    .container-form__form__div-colores__html-div2.div2
                    .container-form__form__div-colores__html-div3.div3

                input(type="date" name="input_date" required autocomplete="off").container-form__form__input-date#input-date

                input(type="submit" value="+").container-form__form__button

        .container-tareas#container-tareas

        .container-error#container-error
            p.container-error__parrafo#container-error__parrafo
            